---
action: create
module: groups/group
position: cn=groups,{{ ldap_base }}
properties:
  name: "managed-by-attribute-Groupware"
---
action: create
module: groups/group
position: cn=groups,{{ ldap_base }}
properties:
  name: "managed-by-attribute-Fileshare"
---
action: create
module: groups/group
position: cn=groups,{{ ldap_base }}
properties:
  name: "managed-by-attribute-Projectmanagement"
---
action: create
module: groups/group
position: cn=groups,{{ ldap_base }}
properties:
  name: "managed-by-attribute-Knowledgemanagement"
---
action: create
module: groups/group
position: cn=groups,{{ ldap_base }}
properties:
  name: "managed-by-attribute-Livecollaboration"
