# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2023-2025 Univention GmbH

---

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3.11

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v6.0.0"
    hooks:
      # "check for added large files"
      - id: "check-added-large-files"
      # "check for merge conflicts"
      - id: "check-merge-conflict"
      # "check yaml"
      - id: "check-yaml"
        args:
          - "--allow-multiple-documents"
        exclude: "^helm/.+/(templates|data-files)/"
      # "fix end of files"
      - id: "end-of-file-fixer"
        exclude: "^helm/.+/(README.md|.*.svg)"
      # "trim trailing whitespace"
      - id: "trailing-whitespace"

  - repo: "https://git.knut.univention.de/univention/dist/pre-commit-ucr"
    rev: "0.1.7"
    hooks:
      # "flake8 --select E1,E2 for UCR templates"
      - id: "ucr-flake8"
      # "ruff for UCR templates"
      - id: "ucr-ruff"
      # "autopep8 --select E1,E2 for UCR templates"
      - id: "ucr-autopep8"
        stages: ["manual"]
      # "ruff --fix for UCR templates"
      - id: "ucr-ruff-fix"
        stages: ["manual"]

  - repo: "https://github.com/compilerla/conventional-pre-commit"
    rev: "v4.3.0"
    hooks:
      - id: "conventional-pre-commit"
        stages: ["commit-msg"]


  - repo: "https://git.knut.univention.de/univention/infrastructure/pre-commit-hooks/check-issue-reference"
    rev: "v1.0.1"
    hooks:
      - id: check-issue-reference
        name: "Check issue reference"

  - repo: "https://git.knut.univention.de/univention/dist/pre-commit-debian.git"
    rev: "v1.1.0"
    hooks:
      # "Debian control file formatter"
      - id: "debian-control"

  - repo: "https://github.com/asottile/pyupgrade"
    rev: "v3.21.2"
    hooks:
      - id: "pyupgrade"
        args:
          - "--py311-plus"

  - repo: "https://github.com/astral-sh/ruff-pre-commit"
    rev: "v0.14.13"
    hooks:
      - id: "ruff"
        args:
          - "--fix"
          - "--exit-non-zero-on-fix"
          - "--extend-select"
          - "COM"
      - id: "ruff-format"

  # This is a wrapper for shellcheck as long as
  # shellcheck doesn't have it's own .pre-commit-hooks.yaml
  # https://github.com/koalaman/shellcheck/pull/1032
  - repo: "https://gitlab.com/univention/pre-commit-hooks/pre-commit-shell"
    rev: "v1.0.6+uv1"
    hooks:
      # "Shell Syntax Check"
      - id: "shell-lint"

  # "docker-compose.yaml linter"
  - repo: "https://gitlab.com/univention/pre-commit-hooks/docker-compose-check"
    rev: "7702a8801a158b8595569dd29e2dd655d8a08310"
    hooks:
      # "Validate docker-compose files"
      - id: "docker-compose-check"

  # "Dockerfile linter"
  - repo: "https://gitlab.com/univention/pre-commit-hooks/docker-pre-commit"
    rev: "v2.0.0"
    hooks:
      # "Lint Dockerfiles"
      - id: "hadolint-system"
        args:
          - "--ignore=DL3008"

  # "Helm chart linter"
  - repo: "https://github.com/gruntwork-io/pre-commit"
    rev: "v0.1.30"
    hooks:
      - id: "helmlint"

  # "Helm docs linter"
  - repo: "https://github.com/norwoodj/helm-docs"
    rev: "v1.14.2"
    hooks:
    - id: "helm-docs"
      args:
        - "--chart-search-root=helm"
        - "--template-files=README.md.gotmpl"
      always_run: true

  - repo: "https://git.knut.univention.de/univention/infrastructure/pre-commit-hooks/addlicense"
    rev: "v1.0.3"
    hooks:
      - id: "addlicense"
        name: "Check or add license headers to files"
        exclude: '\.config/copier-answers\..*\.yaml'

# Disable temporarily because gitlab-api can not be accessed.
# "urllib.error.HTTPError: HTTP Error 401: Unauthorized"
  # - repo: "https://gitlab.com/univention/pre-commit-hooks/gitlab-ci-linter"
  #   rev: "v1.0.1"
  #   hooks:
  #   # ".gitlab-ci.yml linter"
  #     - id: "gitlab-ci-linter"
  #       args:
  #         - "--server"
  #         - "https://git.knut.univention.de"

  - repo: "https://git.knut.univention.de/univention/dev/tooling/kyverno-test-pre-commit/"
    rev: "v0.5.0"
    hooks:
      - id: "kyverno-test"

...
