# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2023-2025 Univention GmbH
---
services:
  data-loader:
    profiles:
      - "test"
    image: "gitregistry.knut.univention.de/univention/customers/dataport/upx/stack-data/data-loader:${IMAGE_TAG:-latest}"
    build:
      dockerfile: "./docker/data-loader/Dockerfile"
      target: "final"
    platform: "linux/amd64"
    working_dir: "/app"
    volumes:
      - "./:/src/"
    environment:
      UDM_API_URL: "http://udm-rest-api:9979/udm/"
      # UDM_API_USER: "cn=admin"
      UDM_API_PASSWORD_FILE: "/run/secrets/ldap_secret"
      UDM_API_PORT: "9979"
    secrets:
      - "ldap_secret"

  data-loader-test:
    profiles:
      - "test"
    working_dir: /app
    build:
      dockerfile: "./docker/data-loader/Dockerfile"
      target: "test"
    platform: "linux/amd64"
    volumes:
      - "./src/:/app/src/"
      - "./tests/:/app/tests/"
      - "./examples/:/app/examples"

  joinscript-tools:
    profiles:
      - "test"
    image: "gitregistry.knut.univention.de/univention/customers/dataport/upx/stack-data/joinscript-tools:${IMAGE_TAG:-latest}"
    build:
      context: "./docker/joinscript-tools"
    platform: "linux/amd64"
    working_dir: "/src"
    volumes:
      - "./:/src/"

  # Environment to build the documentation
  docs:
    image: "docker-registry.knut.univention.de/sphinx:latest"
    working_dir: "/src/docs"
    volumes:
      - ".:/src"
    profiles:
      - "docs"

  # Environment of the pre-commit linter.
  pre-commit:
    profiles:
      - "test"
    image: gitregistry.knut.univention.de/univention/dev/tooling/pre-commit/univention-pre-commit:latest
    volumes:
      - type: "bind"
        source: "."
        target: "/code"
      - type: "volume"
        # pre-commit installs dependencies, having them cached speeds things up
        # a lot.
        source: "pre-commit-cache"
        target: "/cache"

  test-chart-stack-data-ums:
    image: gitregistry.knut.univention.de/univention/dev/nubus-for-k8s/common-helm/testrunner:0.29.0
    pull_policy: "if_not_present"
    command: "pytest tests/chart"
    profiles:
      - test
    volumes:
      - "./helm/:/app/helm/"
      - "./tests/chart:/app/tests/chart"

secrets:
  ldap_secret:
    file: "secret/ldap.secret"

volumes:
  pre-commit-cache:
